* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
    padding: 0;
}

::-webkit-scrollbar { 
  display: none; 
}

html,body,span,h1,h2,h3,h4,h5,h6,p,a,ul,li {margin: 0; padding: 0;}

html {
  /*background: linear-gradient(#faf3e6, #FFFEFB);*/
  background-size: 22em;
  height: 100%;
}

body {
  overflow: hidden;
  position: fixed;
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: 'anonymous-pro', monospace;
  font-size: 1.25rem;
  font-weight: 400;
  letter-spacing: 0.05rem;
  line-height: 1.2em;
  color: #000000;
}

.wf-loading h2 {
  visibility: hidden;
}
.wf-active h2, .wf-inactive h2 {
  visibility: visible;
  font-family: 'anonymous-pro', monospace;
}

body:before, body:after {
  content: '';
  display: block;
  width: 0; 
  height: 0; 
}

body.nobackgroundmadness  {
  overflow: auto;
  height: auto;
  position: relative;
}

body.nonhome {
  overflow: auto;
  position: relative;
  height: auto;
}

ul {
  list-style-type: none;
}

a {
  color: #333333;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: #0000ee;
  text-decoration: underline;
}

a:focus, span {
  outline: none;
}

a:visited {
}

a.inverse {
  color: #0000ee;
}

p {
  font-size: .8rem;
}

input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border: 1px solid #d95b5b;
  outline: 0; }

.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  outline: 0;
  text-decoration: none;
  }

.page-wrapper {
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
}

.topbarwrap {
  height: 30px;
  width: 107%;
  margin-left: -1%;
  margin-top: -1%;
/*  -ms-transform: rotate(-1deg);
  -webkit-transform: rotate(-1deg);
  transform: rotate(-1deg);*/
  z-index: 5;
  position: relative;
}

.topborder {
  content: "";
  height: 100%;
  background: url('images/small-steps.png') repeat top;
  display: block;
}

#topbarspeed {
  -webkit-animation-duration: 2s;
}

.triangle {
  content: "";
  border-left: 153px solid transparent;
  border-top: 60px solid #fff;
  border-bottom: 150px solid #fff;
  margin: 2em auto -6em -2%;
  background: url('images/small-steps.png') repeat;
  width: 0em;
  height: 0em;
  display: block;
  z-index: -5;
  position: absolute;
  opacity: .8;
}

#trispeed {
  -webkit-animation-duration: 5s;
}

.mainwrap {
  z-index: 2;
  height: 100%;
  position: relative;
/*  -ms-transform: rotate(-1deg);
  -webkit-transform: rotate(-1deg);
  transform: rotate(-1deg);
  -moz-transform: rotate(-1deg);*/
}

.main {
  height: 100%;
  background: url('images/small-steps.png') repeat-y top left, url('images/small-steps.png') repeat-y right 100px;
  background-size: 1em, 1.85em;
  opacity: .8;
  padding: 68px 40px 0 68px;
}

h1 {
  font-size: 1.2rem;
  text-align: left;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: 0.05em;
  margin-bottom: 20px;
}

h3 {
  font-size: .9rem;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: 0.05em;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.face p.name {
  margin: 12px 0 8px 0px;
  line-height: 1.6;
  font-size: .85rem;
  top: 238px;
}

.face p.bio {
  font-size: 60%;
  line-height: 1.6;
  margin: 6px 0 2px 0;
}

.face p.list {
  font-size: 60%;
  line-height: 1.6;
  margin: 3px 0 6px 0;
}

.face p.list.first {
  margin: 8px 0 6px 0;
}

.face {
  min-height: 600px;
  max-width: 200px;
  min-width: 192px;
}

.face img {
  margin-left: -3px;
  width: 100%;
  max-width: 180px;
} 

.socialline {
  margin: 8px 0 6px 0 !important;
  min-height: 28px;
}

.socialline a {

}

.sociallogo {
  width: 100%;
  padding: 4px;
  margin: 0 !important;
  display: block;
}

.sociallogo:first-child {
  margin-left: -4px !important;
}

.bottomright {
  text-align: right;
  font-size: .9rem;
  margin-bottom: 10px;
  margin-left: 20px;
}

.topright {
  text-align: right;
  font-size: .9rem;
  margin-bottom: 10px;
  margin-left: 20px;
}

#ok:hover { display: text-decoration: none; -ms-flexbox !important; display: -webkit-box !important; display: -webkit-flex !important; display: flex !important; }
#ok1:hover { display: text-decoration: none; -ms-flexbox !important; display: -webkit-box !important; display: -webkit-flex !important; display: flex !important; }
#ok2:hover { display: text-decoration: none; -ms-flexbox !important; display: -webkit-box !important; display: -webkit-flex !important; display: flex !important; }
#ok3:hover { display: text-decoration: none; -ms-flexbox !important; display: -webkit-box !important; display: -webkit-flex !important; display: flex !important; }
#ok4:hover { display: text-decoration: none; -ms-flexbox !important; display: -webkit-box !important; display: -webkit-flex !important; display: flex !important; }
#ok5:hover { display: text-decoration: none; -ms-flexbox !important; display: -webkit-box !important; display: -webkit-flex !important; display: flex !important; }
#ok6:hover { display: text-decoration: none; -ms-flexbox !important; display: -webkit-box !important; display: -webkit-flex !important; display: flex !important; }
#ok7:hover { display: text-decoration: none; -ms-flexbox !important; display: -webkit-box !important; display: -webkit-flex !important; display: flex !important; }
#ok8:hover { display: text-decoration: none; -ms-flexbox !important; display: -webkit-box !important; display: -webkit-flex !important; display: flex !important; }

ul.links h4 {
  line-height: 40px;
  font-size: .8rem;
  text-transform: uppercase;
  font-weight: 400;
}

ul.links h5 {
  display: inline-block;
  text-transform: uppercase;
  margin-left: 4px;
  line-height: auto;
  font-size: .6rem;
  color: #ffffff;
}

.work {
  height: 100%;
  overflow-y: scroll;
  /*  -moz-transform: rotate(1deg);*/
}

ul.otherside {
  list-style-type: none;
  text-align: right;
  padding-right: 90px;
  width: 100%;
/*  -ms-transform: rotate(1deg);
  -webkit-transform: rotate(1deg);
  transform: rotate(1deg);
  -moz-transform: rotate(1deg);*/
}

ul.otherside li {
  display: none;
  text-align: center;
  padding-left: 80px;
  max-width: 700;
  overflow: hidden;
}

ul.otherside img.thumbimg {
  width: 100%;
}

.outline {
  border:1px solid #f7f7f7;
}

ul.otherside h5 { 
  font-size: .74rem;
  color: #444;
  text-align: left;
  display: inline-table;
  font-weight: 400;
  margin-top: 0px;
  margin-bottom: 32px;
  max-width: 560px;
}

ul.otherside img {
  width: 100%;
}

ul.links {
  padding-left: 4rem;
  min-width: 214px;
}

ul.mobilelinks {
  display: none;
}

.imagesize3 {
  max-width: 340px;
}

.imagesize24 {
  max-width: 240px;
}

.imagesize26 {
  max-width: 260px;
}

.imagesize2 {
  max-width: 270px;
}

.imagesize32 {
  max-width: 320px;
}

.imagesize4 {
  max-width: 460px;
}

.imagesize68 {
  max-width: 680px;
}

.linkimg:hover {
  text-decoration: none;
}

/*BOTTOM BAR*/

#botbarspeed {
  -webkit-animation-duration: 3s;
}

.bottomborder {
  content: "";
  height: 100%;
  background: url('images/small-steps.png') repeat bottom;
  display: block;
  opacity: 1;
}

.over {
  height: 50px;
  margin-top: -50px;
/*  -ms-transform: rotate(1deg);
  -webkit-transform: rotate(1deg);
  transform: rotate(1deg);*/
  width: 114%;
  margin-left: -8%;
  position: relative;
  z-index: 4;
}

/*APPS PAGE*/

.imagewraps {
  padding-right: 20px;
}

.imagewraps:last-child {
  padding-right: 0;
}

.apps .imagewraps img {
  max-width:100%;
  border-top: 1px solid #eee;
  -moz-box-shadow: 0 1px 1.5px 0 rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.24);
  -webkit-box-shadow: 0 1px 1.5px 0 rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 1.5px 0 rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.24);
}

.apps .imagewraps img.noborder {
  border: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.apps .imagewraps img.bigger {
  max-width:100%;
}

.apps h1 {
  margin-left: 40px;
  margin-bottom: 40px;
}

.nonhome .main {
  padding: 0 20px 20px 20px;
  background: none;
  text-align: left;
  max-width: none;
}

.nonhome .main .apps {
  max-width: 1300px;
}

.nonhome .altpagehead {
  padding: 20px;
}

.nonhome .altpagehead h1 {

}

.nonhome .altpagehead h3 {
  line-height: 1.9;
}

.remove {
  display: none;
}

.nonhome #thing {
  position: relative;
}

.nonhome .over {
  margin-top: -40px;
}

.nonhome .mainwrap {
/*  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);*/
}
 
.nonhome .main .apps h1 {
  overflow: auto;
/*  -ms-transform: rotate(-1deg);
  -webkit-transform: rotate(-1deg);
  transform: rotate(-1deg);*/
}

/*HIPSTER TYPE*/

p.type {
  color: lime; 
  font-family: "Courier";
  font-size: 20px;
  margin: 10px 0 0 10px;
  white-space: nowrap;
  overflow: hidden;
  width: 30em;
  animation: type 4s steps(60, end); 
}

span.blink {
  animation: blink 1s infinite;
}

@keyframes type{ 
  from { width: 0; } 
} 

@keyframes type2{
  0%{width: 0;}
  50%{width: 0;}
  100%{ width: 100; } 
} 

@keyframes blink{
  to{opacity: .0;}
}

::selection{
  background: black;
}


/*FLEX PAGE*/


.example {
  margin: 0 auto;
  max-width: 1100px;
}

.thecss {
  letter-spacing: 0.02rem;
  line-height: 1.2;
}

.sq {
  width: 40px;
  height: 40px;
  background: #eee;
}

.lt {
  background: #ddd;
}

.lter {
  background: #ccc;
}

.codetext {
  margin: 0px 0px 44px 0px;
}

.codetext h3 {
  width: 240px;
}

.codetext h3.soft {
  color: #ddd;
  margin-top: 20px;
  font-size: .7rem;
  font-weight: 400;
  padding-left: 8px;
}

.codetext p {
  width: 420px;
  margin-left: 40px;
  letter-spacing: 0.03rem;
  line-height: 1.4;
}

.codetext .showbox {
  margin-left: 50px;
  width: 400px;
  min-height: 100px;
  border: 1px dotted #ccc;
}



/*BACKGROUND ANIMATIONS*/

.thingwrap {
  margin: -31em 0 22em 16%;
  pointer-events: none;
  -ms-transform: rotate(119deg) translateZ(0);
  -webkit-transform: rotate(119deg) translateZ(0);
  transform: rotate(119deg) translateZ(0);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  width: 1100px;
  height: 600px;
  z-index: -2;
  position: relative;
}

.thingwrap2 {
  margin: -50em 0 22em 16%;
  pointer-events: none;
  -ms-transform: rotate(119deg) translateZ(0);
  -webkit-transform: rotate(119deg) translateZ(0);
  transform: rotate(119deg) translateZ(0);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  width: 1400px;
  height: 800px;
  z-index: -2;
  position: relative;
}

.thingwrap:after, .thingwrap2:after. {
  content: " ";
  position: absolute;
  width: 100%;
  height: 10px;
  border-radius: 50%;
  left: 0;
  bottom: -50px;
  box-shadow: 0 30px 20px rgba(0, 0, 0, 0.3);
}

#thing {
  background: #eeeeee;
  width: 100%;
  height: 100%;	
  opacity: .1;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  animation: fadein 5s;
  -moz-animation: fadein 5s; /* Firefox */
  -webkit-animation: fadein 5s; /* Safari and Chrome */
  -o-animation: fadein 5s; /* Opera */
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:.1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:.1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:.1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: .1;
    }
}

#thing2 {
  background: #eeeeee;
  width: 100%;
  height: 100%;	
  opacity: .2;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  animation: fadein 5s;
  -moz-animation: fadein 5s; /* Firefox */
  -webkit-animation: fadein 5s; /* Safari and Chrome */
  -o-animation: fadein 5s; /* Opera */
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:.2;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:.2;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:.2;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: .2;
    }
}

.mb0 {
  margin-bottom: 0px;
}

.mb05 {
  margin-bottom: 5px;
}

.mb1 {
  margin-bottom: 10px;
}

.mb2 {
  margin-bottom: 20px;
}

.mb4 {
  margin-bottom: 40px;
}

.mb6 {
  margin-bottom: 60px;
}

.mb8 {
  margin-bottom: 80px;
}

.mt2 {
  margin-top: 20px;
}

.mt3 {
  margin-top: 30px;
}

.mt4 {
  margin-top: 40px;
}

.mt8 {
  margin-top: 80px;
}

.ml2 {
  margin-left: 20px;
}

.ml5 {
  margin-left: 50px;	
}

.mt05 {
  margin-top: 5px;
}

.ml15 {
  margin-left: 15px;
}


@media (max-width: 1100px) {
  .flex-col-mobile-600 {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
  }
  .codetext p {
    margin-left: 0;
    margin-top: 20px;
  }
  .codetext h3 {
    font-weight: 600;
    width: 100%;
  }
}

@media (max-width: 900px) {
  .codetext .showbox {
    margin:20px 0 0 0;
    width: 100%;
  }
  .flex-col-mobile-840 {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
  }
  .codetext h3 {
    font-size: .9rem;
  }

  ul.otherside li {
    padding-left: 0;
  }
  ul.links {
    padding-bottom: 70px;
    padding-left: 2rem;
  }


}

@media (max-width:768px) {
  .thing, .thingwrap, .thingwrap2, .thing2 {
    display: none;
  }

  ul.links {
    display: none;
  }

  ul.mobilelinks {
    display: block;
  }

}

@media (max-width:650px) {
  ul.otherside { 
    display: none;
  }
  .main:before {
    border-top: 0px solid #faf3e6;
    margin: 0em auto -7em -2%;
  }
  .main {
    padding: 16px 40px 0 44px;
  }
  .nonhome .main {
    padding: 16px 40px 0 40px;
  }
  .face {
    max-width: 124px;
    min-width: 122px;
  }
  .work {
    padding-top: 20px;
  }
  #thing {
    position: static;
  }
  ul.links {
    min-width: initial;
  }
  ul.links li:first-child {
      margin-top: 16px;
  }
  ul.links h4 {
    line-height: 32px;
    font-size: .65rem;
  }
  .apps .imagewraps img.fulmobile {
    max-width: 94%;
  }
}

@media (max-width: 600px) {
  .codetext {
    margin: 44px 20px 0px 20px;
  }
  .codetext p {
    width: auto;
    font-size: .7rem;
  }
  .half-flex-mobile-child {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -webkit-flex-basis: 100%;
  }
}

@media (max-width: 450px) {
.topbarwrap {
    height: 12px;
  }
  .over {
    margin-top: -19px;
    height: 11px;
  }
  .face p.name {
    margin-left: 0px;
  }
  .main {
      padding: 16px 9px 0 18px;
      background-size: .5em, .85em;
  }
  .nonhome .main {
    padding: 16px 16px 0 16px;
  }
  .onecol-flex-mobile-450 {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
  }
}

