* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
    padding: 0;
}

::-webkit-scrollbar { 
  display: none; 
}

html,body,span,h1,h2,h3,h4,h5,h6,p,a,ul,li {margin: 0; padding: 0;}

html {
  overflow-y: auto;
  background: linear-gradient(#faf3e6, #FFFEFB);
  background-size: 22em;
  height: 100%;
}

body {
  /*overflow: hidden;*/
  height: 100%;
  margin-top: 600px;
  font-family: 'anonymous-pro';
  font-size: 1.25rem;
  font-weight: 400;
  letter-spacing: 0.05rem;
  line-height: 1.2em;
  margin-left: 600px;
  margin-right: -600px;
}

body:before, body:after {
  content: '';
  display: block;
  width: 0; 
  height: 0; 
}

/*body:after {
  border-left: 36em solid #faf3e6;
  border-right: 0em solid #faf3e6;
  border-bottom: 53.5em solid transparent;
  margin: -51.5em 0 0 auto;
  position: relative;
  z-index: -2;
  background: #279A2A url('../images/img-halftone.png') repeat;
}*/

#thing {
	margin: -31em 0 22em 16%;
	background: rgb(85, 238, 85);
	width: 1400px;
	height: 800px;
	/*position: absolute !important;*/
	z-index: -2;
	-ms-transform: rotate(119deg);
	-webkit-transform: rotate(119deg);
	transform: rotate(119deg);
	opacity: .3;
	margin-right: 300px;
}

.credits {
	  margin-left: -600px;
  margin-right: -600px;
}

.apps .imagewraps {
	text-align: center;
}

.apps .imagewraps img {
	max-width:80%;
}

.apps .imagewraps img.bigger {
	max-width:100%;
}

.imgrow {
	width: 96%;
	margin-left: auto;
	margin-right: auto;
}
.main .apps h1 {
	margin-left: 40px;
	margin-bottom: 40px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

a:hover {
}

a:focus {
  outline: none;
}

p {
  margin-bottom: 0.15em;
}

.mb4 {
	margin-bottom: 80px;
}

/* -------INTRO------ */

header {
	margin: 0 auto 0 30px;
}

footer {
	position: absolute;
	bottom: -48px;
	left: 20px;
	font-size: 1rem;
	color: #BADBBC;
}

.page-wrapper {
  width: 101%;
  height: 94%;
  margin: -1% -2px 0 -2px;
}

.page-wrapper:before {
  content: "";
  height: 26px;
  background: url('../images/small-steps.png') repeat top;
  /* background-size: 40em; */
  display: block;
}

.page-wrapper:after {
  content: "";
  height: 53px;
  background: url('../images/small-steps.png') repeat bottom;
  display: block;
  margin: -4px 0 0 0;
}

.main {
  height: 99%;
  clear: both;
  padding-top: 2em;
  background: url('../images/small-steps.png') repeat-y top left, url('../images/small-steps.png') repeat-y right 100px;
  background-size: 0.75em, 1.65em;
  margin: 0 -5px 0 0;
}

.main:before {
  content: "";
  border-left: 153px solid transparent;
  /* border-right: 78px solid #faf3e6; */
  border-top: 60px solid #faf3e6;
  border-bottom: 150px solid #faf3e6;
  margin: 0em auto -6em -2%;
  background: url('../images/small-steps.png') repeat;
  width: 0em;
  height: 0em;
  display: block;
  z-index: -1;
  position: absolute;
}

.main h1 {
  font-size: 1.2rem;
  text-align: left;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 0.05em;
  margin-left: 10px;
  margin-bottom: 20px;
  font-family: 'mono45-headline';
}

ul.links {
/*  background: -webkit-repeating-linear-gradient(top, #FF8100, #9EF043);
  background: repeating-linear-gradient(top, #FF8100, #9EF043);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;*/

  float: left;
  width: 260px;
}

ul.links li:first-child { 
	margin-top: 26px; 
}

ul.links h4 {
  margin-left: 24px;
  line-height: 40px;
	font-size: .8rem;
  text-transform: uppercase;
}

ul.otherside {
	float: left;
  list-style-type: none;
  width: 400px;
}

ul.otherside a {
    background: -webkit-repeating-linear-gradient(top, #A0A0A0, #7FDFDC);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: none;
}

ul.otherside li {
	height: 40px;
	margin-top: 0px;
}

ul.otherside li:first-child { 
	margin-top: 26px; 
}

ul.otherside li:nth-child(2) { margin-right: 26px; }
ul.otherside li:nth-child(3) { margin-right: 47px; }
ul.otherside li:nth-child(4) { margin-right: 68px; }
ul.otherside li:nth-child(5) { margin-right: 89px; }
ul.otherside li:nth-child(6) { margin-right: 112px; }
ul.otherside li:nth-child(7) { margin-right: 136px; }
ul.otherside li:nth-child(8) { margin-right: 158px; }
ul.otherside li:nth-child(9) { margin-right: 184px; }

ul.otherside h5 { 
	text-align: right; 
	height: 40px;
	line-height: 40px;
	font-size: 1rem;
}


.nonhome #thing {
	position: relative;
}

.nonhome .main {
  overflow: auto;
}
.nonhome .main:before {
	position: absolute;
}

.nonhome .apps {
	max-width: 1300px;
}


@media (max-width:1160px) {
	ul.otherside h5 { 
		text-align: left; 
	}

}

@media (max-width:650px) {
	ul.otherside { 
		display: none;
	}

	.main h1 {
  	font-size: 1.7rem;
	}

	.main:before {
		border-top: 0px solid #faf3e6;
		margin: 0em auto -7em -2%;
	}

	.main {
		padding-top: 0;
	}

	#thing {
		position: static;
	}

	ul.links li:first-child {
	    margin-top: 16px;
	}

}



